.python-version
.env
envs/
.DS_Store
__pycache__/
.idea/
.vscode/
.dmypy.json
htmlcov/
.coverage
media/
static/
staticfiles/
.venv/

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat-schedule.*
*.db

logs/
*.log
config/logs/
scripts/update_api_spec_workbook.ps1
tmp_api_spec_test.xlsx
